.intro {
    width: 1110px;
    height: 412px;
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;




    .intro-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-title {


            width: 350px;
            height: 26px;
            left: 165px;
            top: 2005px;

            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            /* identical to box height, or 130% */
            margin-top: 48px;
            text-align: center;
            letter-spacing: 5px;

            color: #333136;
        }

        .card-text {
            margin-top: 32px;
            width: 350px;
            height: 104px;
            left: 165px;
            top: 2063px;

            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */

            text-align: center;

            color: #333136;

        }
    }
}




@media only screen and (max-width: 768px) {
    .intro {
        max-width: 690px;

        height: 670px;
        margin-top: 120px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 0px;
        flex-direction: column;
        margin-left: 39px;
        gap: 32px;




        .intro-card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 48px;

            .card-body {
                text-align: left;


            }

            .card-title {


                width: 439px;
                height: 26px;
                left: 165px;
                top: 2005px;

                font-family: 'Jost';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                /* identical to box height, or 130% */
                margin-top: 21px;
                text-align: left;
                letter-spacing: 5px;

                color: #333136;
            }

            .card-text {
                margin-top: 16px;
                width: 439px;
                height: 78px;
                left: 165px;
                top: 2063px;

                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                /* or 162% */

                text-align: left;

                color: #333136;

            }
        }
    }




}
















@media only screen and (max-width: 375px) {
    .intro {
        max-width: 327px;

        height: 1396px;
        margin-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        flex-direction: column;
margin-left: 0;
        gap: 32px;




        .intro-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 50px;
            gap: 80px;

            .card-body {




                .card-title {


                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    /* identical to box height, or 130% */
                    margin: 0px auto;
                    text-align: center;
                    letter-spacing: 5px;

                    color: #333136;
                    width: 327px;
                    height: 26px;
                    text-align: center;
                    margin-top: 0px;

                    letter-spacing: 5px;

                    color: #333136;
                }

                .card-text {
                    width: 327px;

                    margin-top: 16px;


                    left: 165px;
                    top: 2063px;

                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    /* or 162% */

                    text-align: center;
                    margin: 32px auto;

                    color: #333136;
                }

            }
        }
    }




}